@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html, body {
  font-family: 'Roboto', sans-serif;
}
.landing1 {
  //Introduce and Contact Form
  .introduce-contact {
    background: url('../images/driver_taxi_banner.jpg') center center no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
  }
  //Introduce
  .introduce_site {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 400px;
    align-self: flex-end;
    margin: 0 0 100px 100px;
    &-title {
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 10px;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
    }
    &-info {
      display: flex;
      flex-direction: column;
    }
    &-infoDetail {
      font-size: 19px;
      font-weight: 400;
      line-height: 25px;
    }
  }
  //Contact Form
}
@mixin inputSelectForm($height, $padding) {
  background-color: #ffffff;
  border: 1px solid #888888;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  width: 100%;
  height: $height;
  padding: 6px $padding;
  margin-bottom: 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  &::-webkit-input-placeholder {
    font-weight: 400;
    color: rgb(117, 117, 117);
  }
  &:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
  }

}
.landing1 {
  .contact_form {
    width: 400px;
    background-color: rgba(255,255,255,0.95);
    padding: 15px;
    color: #333;
    align-self: flex-end;
    &-title {
      font-weight: 600;
      font-size: 30px;
      color: #00BA51;
      margin: 0 0 10px;
    }
    &-name {
      display: flex;
    }
    &-phone {

    }
    &-email {

    }
    &-address {
      display: flex;
    }
    &-other {

    }
    &-captcha {

    }
    &-info {
      margin: 10px 0;
      color: #23527c;
    }
    &-submit {
      background-color: #00B140;
      color: #fff;
      border-radius: 4px;
      padding: 10px 30px;
      font-weight: 600;
      font-size: 1.143em;
      text-decoration: none;
      text-shadow: none;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
      border: none;
      width: 100%;
    }
  }
  .last_name, .first_name {
    @include inputSelectForm(25px, 12px);
  }
  .first_name {
    margin-right: 8px;
  }
  .your_phone, .your_email {
    @include inputSelectForm(25px, 12px);
    width: calc(100% - 12px - 15px);
  }
  .option-job, .option-info, .option-address {
    @include inputSelectForm(40px, 4px);
  }
  .option-address {
    margin-right: 8px;
  }
  .link_info {
    text-decoration: none;
    color: #1AA6F6;
  }
  //Reason Why Join In
  .reason {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 50px 10%;
    &-title {
      font-weight: 600;
      font-size: 42px;
      color: #00BA51;
      text-align: center;
    }
    &-infoDetail {
      display: flex;
      padding: 0 10%;
    }
    &-salary, &-time, &-safe {
      display: flex;
      flex-direction: column;
      flex-basis: 33.333%;
      padding: 0 15px;
    }
    &_image {
      max-height: 100px;
      max-width: 100px;
      margin: 10px auto;
      padding-bottom: 10px;
      display: block;
    }
    &_title {
      color: #00BA51;
      margin: 23px 0 15px;
      font-size: 22px;
      line-height: 24px;
      font-weight: 400;
      text-align: center;
    }
    &_info {
      font-size: 18px;
      text-align: center;
      font-size: 18px;
      line-height: 25px;
      color: #333333;
    }
  }
  //Why do you have to wait
  .why_wait {
    background: url('../images/why-wait.jpeg') center center no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 50px 0 100px;
    &-title {
      font-size: 42px;
      font-weight: 500;
    }
    &-description {
      font-size: 18px;
      line-height: 18px;
    }
    &-btn {
      background-color: #00BE45;
      border-color: #00BE45;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 19px;
      line-height: 19px;
      font-weight: 700;
      padding: 15px 30px;
      margin-top: 35px;
    }
  }
  //How it Works
  .works {
    background-color: #ffffff;
    padding: 50px 0 0;
    &-title {
      text-align: center;
      color: #00BA51;
      font-size: 40px;
      font-weight: 700;
      margin: 0;
    }
    &-description {
      text-align: center;
      font-size: 18px;
      color: #464B57;
    }
    &-infomation {
      position: relative;
      padding: 0 8%;
      margin: 110px 0 142px;
      min-height: 348px;
    }
    &-media {
      position: absolute;
      z-index: 9;
      margin-top: -55px;
      left: 25%;
      display: none;
    }
    &-list {
      position: absolute;
      right: 22%;
      margin-top: -55px;
      width: 480px;
    }
    &-listItem {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 50px;
      margin-top: 25px;
      cursor: pointer;
      &::before {
        content: '';
        display: block;
        position: absolute;
        background: url(../images/arrowdown.png) no-repeat center/cover;
        width: 12px;
        height: 90px;
        //bottom: -45px;
        bottom: -20px;
        left: 10px;
      }
      &::after {
        content: attr(data-step);
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        line-height: 29px;
        border-radius: 50%;
        border: 2px solid #00BA51;
        font-weight: 500;
        font-size: 16px;
        color: #00BA51;
        text-align: center;
        transition: all .2s ease-in;
      }
      &:hover {
        .works-listTitle {
          color: #00BA51;
        }
        &::after {
          background: #00BA51;
          color: #fff;
        }
      }
    }
    &-item1 {
      margin-top: -5px;
      padding-bottom: 25px;
    }
    &-item2 {
      &::before {
        bottom: -45px;
      }
    }
    &-item3 {
      margin-top: 50px;
      &::before {
        bottom: -45px;
      }
    }
    &-item4 {
      margin-top: 50px;
      &::before {
        content: '';
        width: 0;
        height: 0;
      }
    }
    &-listTitle {
      color: #333333;
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      margin: 5px 0 10px;
    }
    &-listDes {
      color: #333333;
      font-size: 18px;
      line-height: 25px;
    }
  }
  .activeOpen {
    .works-listTitle {
      color: #00BA51;
    }
    &::after {
      background: #00BA51;
      color: #fff;
    }
  }
  .activeVideo.works-media {
    display: block;
    animation: fadeIn .3s ease-in forwards;
    -webkit-animation: fadeIn .3s ease-in forwards;
  }
  .title-items {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin: 10px 0 10px;
    color: #00BA51;
    text-align: center;
    transition: all .4s;
  }
  .description-items {
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    transition: all .4s;
  }
  //App For Site
  .appSite {
    background: url('../images/dg-dl-grab-back.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 60px 0 100px;
    &-title {
      font-weight: 600;
      font-size: 40px;
      color: #fff;
    }
    &-description {
      display: flex;
      justify-content: center;
    }
    @mixin threeOr() {
      content: '';
      width: 2px;
      height: 60px;
      position: absolute;
      left: 15px;
      background: #fff;
    }
    &-or {
      position: relative;
      margin: 0 40px;
      color: #464646;
      font-size: 19px;
      border-radius: 50%;
      background: #fff;
      width: 33px;
      height: 33px;
      line-height: 33px;
      align-self: center;
      &::before {
        @include threeOr();
        top: -65px;
      }
      &::after{
        @include threeOr();
        bottom: -65px;
      }
    }
    &-Qcode {
      display: flex;
      flex-direction: column;
    }
    &-googlePlay {
      align-self: center;
    }
  }
  .image-googlePlay {
    width: 150px;
    height: 53px;
  }
  .Qcode {
    &-title {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 10px;
    }
    &-image {
      width: 120px;
      height: 120px;
    }
  }
  //Questions Normal
  .frequently_questions {
    padding: 0 20%;
    &-title {
      font-weight: 600;
      font-size: 40px;
      color: #00BA51;
      text-align: center;
    }
  }
  .question {
    padding: 0 8%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 30px;
    height: 90px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    cursor: pointer;
    transition: all .35s ease-out;
    &-title {
      position: relative;
      font-weight: 400;
      font-size: 18px;
      color: #3A3A3A;
      transition: all .2s;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 0;
        height: 1px;
        background: #ddd;
      }
      &::after {
        content: "\f107";
        font-family: 'fontawesome';
        position: absolute;
        top: -5px;
        right: -30px;
        color: #3A3A3A;
        font-size: 30px;
        line-height: 30px;
      }
    }
    &-description {
      line-height: 22px;
      display: none;
    }
  }
  .openQuestion {
    height: auto;
    .question-title {
      font-weight: 700;
      &::after {
        content: "\f106";
        font-weight: 400;
      }
      &::before {
        content: "";
        animation: fullWidth .5s forwards;
      }
    }
    .question-description {
      display: block;
      animation: fadeIn .3s forwards;
      -webkit-animation: fadeIn .3s ease-in forwards;
    }
  }
}
@import 'animation';
@import 'responsive';

